{
  "presets": [
    "flow",
    "env"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "comments": true,
  "compact": "auto",
  "minified": false,
  "sourceMaps": true,
  "env": {
    "production": {
      "comments": false,
      "compact": false,
      "minified": true,
      "sourceMaps": false
    }
  }
}
