{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "extends": [
    "plugin:flowtype/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "no-constant-condition": "off"
  },
  "env": {
    "browser": true,
    "node": false,
    "amd": false,
    "es6": true,
    "jquery": true
  }
}
